.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.logoText {
  display: flex;
  flex-direction: column;
}

.logoName {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
}

.logoTagline {
  font-size: 0.7rem;
  color: var(--color-dark-gray);
}

@media (max-width: 480px) {
  .logoTagline {
    display: none;
  }
}